h1 {
    font-weight : bold;
    text-align: left;
    font-size: 50px;
}

#designation {
   float: left;
    font-size: 25px;
    margin-top: -15px;
}

.resume-container {
    background-color: #dee3e5 !important;
    height: 100px;
    padding: 10px;
}

.personal-details {
    text-align: right;
    padding-top: 10px;
    font-size : 16px;
}

.intro-section {
    padding: 40px 40px 0px 40px;
}

.section {
    padding: 10px 40px 0px 40px;
}

ul, .align {
    text-align: left;
    font-style: italic;
}

hr {
    margin: 0px !important;
}

.details {
    white-space : nowrap;
    display : block;
    font-weight : bold;
    text-align: left;
}

.details-school {
    font-weight: normal;
    font-style: italic;
    display: block;
    text-align: left;
}

.project-summary {
    border: 1px solid lightgrey;
    text-align: left;
    padding: 5px;
}

.project-summary-seperator {
    border-top: 1px solid lightgrey;
    margin-top: 10px;
    padding-top: 5px;
}

.para {
    margin-bottom: 0px !important;
}

.space {
    margin : 30px;
}

.name {
    text-align: start;
}


  .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #e8f0f3 !important;
}
@media print {

    @media print { 
        .table td, .table th { 
            background-color: transparent !important; 
        } 
    }

    .table-striped > tbody > tr:nth-of-type(odd) {
        background: #e8f0f3 !important;
    }
}