<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="resume-container">
    <div class="row">
      <div class="col-sm-6">

        <h1>
          Swati Bansal
        </h1>
        <div id="designation">
          Software Technologist
        </div>
      </div>
      <div class="col-sm-6 personal-details">
        <div class="email">
          <span style="font-weight:bold;">Email: </span>
          <span>bansalswati2525@gmail.com</span>
        </div>
        <div class="phone">
          <span style="font-weight:bold;">Phone: </span>
          <span>+91 8431321484</span>
        </div>
      </div>
    </div>
    <div class="row intro-section">
      <p>
        Front end developer with overall 9 years of software development experience.
      </p>
      <ul>
        <li>
          Worked in both Web and Hybrid mobile applications using Angular, HTML, CSS, Javascript, Jquery, Apex, SOQL,
          Qlik, Java
        </li>
        <li>
          Served in the role of Scrum Master and module lead
        </li>
        <li>
          Proven leadership and mentored junior members in the team
        </li>

      </ul>

    </div>
    <div class="row section">
      <h2>
        Skills
      </h2>
      <table class="table table-striped table-bordered">

        <tbody>
          <tr>
            <td>Languages</td>
            <td>Javascript, Typescript, ES6, HTML5, CSS3, Java</td>
          </tr>
          <tr>
            <td>Frameworks/Libraries</td>
            <td>Angular, jQuery, Sass, Highcharts, Qlik Sense, Jasmine, Karma, Bootstrap, Spring Boot, RxJs</td>
          </tr>
          <tr>
            <td>Management Tools</td>
            <td>Scrum, Kanban</td>
          </tr>
          <tr>
            <td>Version Control</td>
            <td>TFS, Git</td>
          </tr>
          <tr>
            <td>Build Tools</td>
            <td>Gulp, Maven, Docker</td>
          </tr>
          <tr>
            <td>Dev Tools</td>
            <td>Visual Studio Code, IntelliJ, CRM Salesforce, Sublime, Visual Studio</td>
          </tr>
          <tr>
            <td>Database</td>
            <td>Postgres, SOQL</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row section">
      
      <h2>
        Experience Summary
      </h2>
    </div>
      <div class="row">
        <div class="col-sm-3">
          Oct-2016 - Present
        </div>
        <div class="col-sm-9">
          <span class="details">
            Software Technologist
          </span>
          <span class="details">
            Philips, Bangalore
          </span>
          <ul>
            <li>
              Work with stakeholders, POs to gather requirements for building RPM web application using Angular
            </li>
            <li>
              Actively participated in Sprint grooming, planning, release planning and estimation activities
            </li>
            <li>
              Mentored other team members and collaborated in design discussions
            </li>
            <li>
              Created reusable components, custom directives, services used across application
            </li>
            <li>
              Used RxJS Observables for http requests
            </li>
            <li>
              Built backend apis using Apex in Salesforce
            </li>
            <li>
              Worked on Rest Apis using Spring boot microservices, Postgres
            </li>
            <li>
              Authored design documents using class, Sequence diagrams using PUML
            </li>
            <li>
              Worked on unit tests using Jasmine, Karma frameworks
            </li>
            <li>
              Integrated with Qlik Analytics tool for reporting
            </li>
            <li>
              Used HighCharts for visualization
            </li>
          </ul>
          <div class="project-summary">
            <p>
              The product focuses on monitoring patients with chronic diseases at their home. With eCareCoordinator, clinicians can connect with patients using 2-way live video, allowing for more accurate assessment; gain insight into patients' living environments by attaching photos to their record; and access a comprehensive log of care plan activity - past, present and future - in calender view.
              The platform features such as Issues, Tasks, Calendar and Sticky Notes provide powerful and intuitive communications capability that ensures alignment across the extended care teams. By connecting and fostering partnership among all care stakeholders, eCareCoordinator enables a highly collaborative care environment that yields high-quality, patient-centered care across the enterprise.
            </p>
            <h6>Tech Stack :</h6>
            <p class="para">
              Application is build using Salesforce cloud platform. We have integrated different static resources in Salesforce which are built using HTML5, CSS3, AngularJs, Angular 8+, ember.js, Typescript, Apex for backend, Qlik for reports etc. 
            </p>
          </div>
        </div>
      </div>
      <div class="space"></div>
      <div class="row">
        <div class="col-sm-3">
          Jan-2012 - Oct-2016
        </div>
        <div class="col-sm-9">
          <span class="details">
            Senior Software Engineer
          </span>
          <span class="details">
            Wipro, Bangalore
          </span>
          <ul>
            <li>
              Built SPA Hybrid application for USBank using MVC design pattern.
            </li>
            <li>
              Design and develop many modules like Bill Pay, Timeline, Send money etc
            </li>
            <li>
              Interactions with Stackholders, POs for gathering and clarifying requirements
            </li>
            <li>
              Used media queries for responsive design for web and mobile (IOS/Android)
            </li>
            <li>
              Integrated Restful services. JSON format used for data transfer
            </li>
            <li>
              Used GIT for version control
            </li>

          </ul>
          <div class="project-summary">
            <p>
              The mobile application was built using SPA(Single Page Architecture) and MVC (Model View Controller) Design pattern. Hybrid application development approach was used wherein the UI is build using HTML5, JS and CSS3 and native components like Camera and Contacts will be accessed via PhoneGap plugins. The application would connect to multiple USBank systems and third party systems directly/indirectly to enable various features within the app. Major features/Modules in the app include Login, Accounts, Pay Bills, Pay/Transfer Timeline, Pay a Person, Request Money and Western Union
            </p>
            <h6>Tech Stack :</h6>
            <p class="tech">
              Html5, jQuery, Javascript, CSS3,Phonegap, BackboneJs, Angularjs, Agile
            </p>
          </div>
        </div>
      </div>
    
    <div class="row section">
      <div class="row">
        <h2 class="col-sm-12">
          Education
        </h2>
      </div>
    </div>
    <div class="row section">
      <div class="col-sm-3">
        Jan-2012 - Dec-2015
      </div>
      <div class="col-sm-9">
        <span class="details">M.Tech Software Engineering</span>
        <span class="details-school">Birla Institute of Technology and Science, Pilani</span>
      </div>
    </div>
    <div class="row section">
      <div class="col-sm-3">
        Jan-2008 - Dec-2011
      </div>
      <div class="col-sm-9">
        <span class="details">B.Sc Computer Science</span>
        <span class="details-school">Kurukshetra University</span>
      </div>
    </div>
    <div class="row section">
      
      <div class="row">
        <h2 class="col-sm-12">
          Awards
        </h2>
      </div>
      </div>
          <div class="row section">
            <ul>
              <li>
                Take Ownership and Deliver Fast
              </li>
              <li>
                Team up to win
              </li>
              <li>
                Customer First
              </li>
            </ul>
        </div>
        
    

    <div class="row section">
      <div class="row">
        <h2 class="col-sm-12">
          App Store Links
        </h2>
      </div>
    </div>
        <div class="row">
          <div class="col-sm-3">
            Android
          </div>
          <div class="col-sm-9 align">
            <a href="url">https://play.google.com/store/apps/details?id=com.usbank.mobilebanking&hl=en</a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            IOS
          </div>
          <div class="col-sm-9 align">
            <a href="url">https://itunes.apple.com/us/app/u.s.-bank/id458734623?mt=8</a>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3">
            Web
          </div>
          <div class="col-sm-9 align">
            <a href="url">https://www.philips.co.in/healthcare/product/HCNOCTN482/ecarecoordinator-clinical-dashboard-for-ambulatory-health</a>
          </div>
        </div>
      </div>
    </div>



<router-outlet></router-outlet>